<!DOCTYPE html>
<html lang="en">
    {% load humanize %}
{% load static %}
<head>
    <style type="text/css">
        @page {
            size: a4;
            margin: 1cm;
        }

        .table {
            border: 0.5px solid #ababab;
            text-align: center;
            table-layout: fixed;
            margin-bottom: 5px;
        }

        .table tr td {
            white-space: nowrap;
        }

        .table th {
            padding: 5px;
            vertical-align: top;
            background-color: #e8e8e8;
        }

        .table td {
            padding: 5px;
            vertical-align: top;
            -pdf-keep-with-next: false;
            overflow: hidden;
            text-overflow: ellipsis;


        }
    </style>
</head>

<body>
<table>

    <div class="ui segment itemscard">
        <div class="content">
          <table >
          
            <tbody>
              <tr>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:900; font-size:20px;color: black" width="170">
                  <img id="logo" style="border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 200px;" src="/media/logo.png">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:18px">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:18px;color: black">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:18px;color: black">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:18px;color: black">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:18px;color: black" width="230">
                  <div><span class="mono">{{ hospital.name }}</span></div>
                  <div><span class="mono">{{ hospital.address }}</span></div>
                  <div><span class="mono">Tel: {{ hospital.phone }}</span></div>
                  <div><span class="mono">Email: {{ hospital.email }}</span></div>
                </td>
                
              </tr>
            </tbody>
          </table>
      
        </div>
      </div>
      <br>
    
</table>
<table>
    <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2"
            align="center">Interrogation d'articles
        </td>
    </tr>
    <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="left">
            Nom du produit: {{ product_name }}</td>
    </tr>
    <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="left">
            Code du produit: {{ product_code }} </td>
    </tr>
    <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="left">
            Periode du: {{ start_date }} au : {{ end_date }}</td>
    </tr>
    {#<tr>#}
    {#    <td colspan="2"><img src="logo.png" width="150"  /></td>#}
    {#  </tr>#}

    <tr>
        <td colspan="2">
            <table class="table">

                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;" colspan="2">
                        Facture
                    </td>
                </tr>
                <thead>
                <tr style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; height:30px;margin-bottom: -50px;background-color: #E3F2FD;border-color: #E3F2FD;color:white; border-radius: 40px;">

                    <th style="color: black">Code Fac</th>
                    <th style="color: black">Nom Patient</th>
                    <th style="color: black">Qté</th>
                    <th style="color: black">P.U. Brut</th>
                    <th style="color: black">R/se %</th>
                    <th style="color: black">P.U. Net</th>
                    <th style="color: black">Montant Brut</th>
                    <th style="color: black">Montant Net</th>
                    <th style="color: black">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for product in bills %}

                    <tr style="text-align: center;height: 30px">


                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "
                            height="22" align="center">{{ product.bills.code }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "
                            height="22" align="center">{{ product.bills.patient.name }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "
                            height="22" align="center">{{ product.quantity_served }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "
                            height="22" align="center">{{ product.pub }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "
                            height="22" align="center">{{ product.delivery }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "
                            height="22" align="center">{{ product.pun }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "
                            height="22" align="center">{{ product.amount_gross }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "
                            height="22" align="center">{{ product.amount_net }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; "
                            height="22" align="center">{{ product.bills.bills_date }}</td>
                    </tr>

                {% endfor %}
                </tbody>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</tr>
{#<td width="51%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">#}
{#      <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Montant total:</span> {{MontantT}} FCFA</div>#}
{#   <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Montant perçu:</span> {{Advance}} FCFA</div>#}
{#   <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Reste a payer:</span> {{Left_to_pay}} FCFA</div>#}
{#   <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Remboursement:</span> {{Repayment}} FCFA</div>#}
{##}
{#    </table></td>#}

</body>

</html>