<!DOCTYPE html>
<html lang="en">
{% load humanize %}
{% load static %}
<head>
    <style type="text/css">
        @page {
            size: a4;
            margin: 2mm;
        }

        .table {
            border: 0.5px solid #ababab;
            text-align: center;
            table-layout: fixed;
            margin-bottom: 5px;
        }

        .table tr td {
            white-space: nowrap;
        }

        .table th {
            padding: 5px;
            vertical-align: top;
            background-color: #e8e8e8;
        }

        .table td {
            padding: 5px;
            vertical-align: top;
            -pdf-keep-with-next: false;
            overflow: hidden;
            text-overflow: ellipsis;


        }
    </style>
</head>

<body>

<div class="ui segment itemscard">
  <div class="content">
    <table >
    
      <tbody>
        <tr>
          <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:900; font-size:20px;color: black" width="190">
            <img id="logo" style="border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;" src="/media/logo.png">
          </td>
          <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:15px">
          </td>
          <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:15px;color: black">
          </td>
          <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:15px;color: black">
          </td>
          <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:15px;color: black">
          </td>
          <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:15px;color: black" width="230">
            <div><span class="mono">{{ hospital.name }}</span></div>
            <div><span class="mono">{{ hospital.address }}</span></div>
            <div><span class="mono">Tel: {{ hospital.phone }}</span></div>
            <div><span class="mono">Email: {{ hospital.email }}</span></div>
          </td>
          
        </tr>
      </tbody>
    </table>

  </div>
</div>
<table>
<tr>
  <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;" align="center" colspan="2">EXTRAIT DE COMPTE</td>
</tr>
<tr>
  <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;" align="center" colspan="2">Client : {{ balance_available.patient.name }}</td>
</tr>
</table>
<table class="table" style="margin-top: -25px;" width="100%" cellspacing="0" cellpadding="0">
  
    <thead >
    <tr>
        <th style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;color: black" width="100">Date</th>
        <th style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;color: black" width="150">Libelle</th>
        <th style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;color: black" width="150">Credit</th>
        <th style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;color: black" width="150">Debit</th>
        <th style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;color: black" width="150">Solde</th>
    </tr>
    </thead>
    <tbody>
    {% for ligne in lignes %}
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:14px;color: black">{{ ligne.createdAt }} {{ ligne.timeAt }}</td>
            {% if ligne.comment %}
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:14px;color: black">{{ ligne.comment }}</td>
            {% else %}
             <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:14px;color: black">R.A.S</td>
             {% endif %}
            {% if ligne.type_operation == 'CREDIT' %}
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:14px;color: black">{{ ligne.balance|floatformat:0 }}</td>
{% else %}
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:14px;color: black">0</td>
{% endif %}
            {% if ligne.type_operation == 'DEBIT' %}
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:14px;color: black">{{ ligne.balance|floatformat:0 }}</td>
            {% else %}
             <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:14px;color: black">0</td>
             {% endif %}
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:14px;color: black">{{ ligne.balance_after|floatformat:0 }}</td>
        </tr>
{% endfor %}
        <div class="ui segment itemscard">
          <div class="content">
            <table class="ui celled table">
            
              <tbody>
                <tr>
                  <td width="100" class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:15px;color: black; height: auto;" height="5">
                    <div class="panel" style="height:50%;">
                    Total rechargé :
                    </div>
                  </td>
                  <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:15px">
                    <span class="mono">{{credit|floatformat}} </span>
                  </td>
                  <td width="100" class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:15px;color: black">
                    <span class="mono">Total consommé :</span>
                  </td>
                  <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:15px">
                    <span class="mono">{{debit|floatformat}}</span>
                  </td>
                  <td width="150" class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:15px;color: black">
                    <span class="mono">Solde disponible au {{date}}:</span>
                  </td>
                  <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:15px;color: black">
                    <span class="mono">{{balance_available.balance|floatformat}}</span>
                  </td>
                  
                </tr>
                
              </tbody>
            </table>
        
          </div>
        </div>
   
    </tbody>
</table>
</div>
</body>
</html>