<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style type="text/css">
        @page {
            size: a4;
            margin: 1.5cm;
        }

        .table {
            border: 0.5px solid #ababab;
            text-align: center;
            table-layout: fixed;
            margin-bottom: 5px;
        }

        .table tr td {
            white-space: nowrap;
        }

        .table th {
            padding: 5px;
            vertical-align: top;
            background-color: #e8e8e8;
        }

        .table td {
            padding: 5px;
            vertical-align: top;
            -pdf-keep-with-next: false;
            overflow: hidden;
            text-overflow: ellipsis;


        }
    </style>
    <meta charset="UTF-8">
</head>

<body>
<table>
     <tr class="content">
                                <td class="w640" class="w640"  width="640" bgcolor="#ffffff">
                                    <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td  class="w30"  width="30"></td>
                                                <td  class="w580"  width="580">
                                                    <!-- une zone de contenu -->
                                                    <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="w580"  width="580">
                                                                    <div align="center" class="article-content">
                                                                    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                                                                        CERTIFICAT MEDICAL D'ARRET D'ECOLE </h2>
                                                                    </div>

                                                                    <div align="left" class="article-content">
                                                                        <div></div>
                                                                        <p style="font-size:15px;padding-top:12px;"> Je soussigné(e), {{ doctor.name }}</p>
                                                                        <p style="font-size:15px;padding-top:12px;">
Docteur en Médecine, certifie avoir examiné ce jour
                                                                        </p>
                                                                        <p style="font-size:15px;padding-top:12px;">
Mr/Mme {{ patient.name }}
                                                                        </p>
                                                                        <p style="font-size:15px">
Né(e) le {{ patient.dateNaiss }}
                                                                        </p>
                                                                        {% if stoppage_type == 'STOP' %}
                                                                        <p style="font-size:15px;padding-top:12px;">
Necessite un traitement avec un arret de travail
                                                                            <p style="font-size:15px;padding-top:12px;padding-left:12px;">
De: {{ duration }} Jours; Sauf complications
                                                                        </p>
                                                                        <p style="font-size:15px;padding-top:12px;padding-left:12px;">
Du: {{ start_date }} Au: {{ end_date }}
                                                                        </p>
                                                                        </p>
                                                                        {% endif %}
                                                                        {% if stoppage_type == 'EXTENSION' %}
                                                                        <p style="font-size:15px;padding-t{op:12px;">
Necessite un traitement avec une prolongation d'arret de travail
                                                                            <p style="font-size:15px;padding-top:12px;padding-left:12px;">
De: {{ duration }} Jours; Sauf complications
                                                                        </p>
                                                                        <p style="font-size:15px;padding-top:12px;padding-left:12px;">
Du: {{ start_date }} Au: {{ end_date }}
                                                                        </p>
                                                                        </p>
                                                                        {% endif %}
                                                                        {% if stoppage_type == 'GETTING_BACK' %}
                                                                        <p style="font-size:15px;padding-t{op:12px;">
Lui permet de reprendre son travail a dater du {{ end_date }}
                                                                        </p>
                                                                        {% endif %}
                                                                        <p style="font-size:15px;padding-top:12px;">
Certificat fait pour servir et valoir ce que de droit sur la demande de l’intéressé et
remis en mains propres le {{ date }} à {{ time }}
                                                                        </p>
                                                                        <p style="font-size:15px;padding-top:12px;">

                                                                        </p>
                                                                        <p style="font-size:15px;padding-top:24px;">
Signature et Cachet du Médecin
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <!-- fin zone -->

                                                    <!-- une autre zone de contenu -->
                                                </td>
                                                <td class="w30" class="w30"  width="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
    {#<tr>#}
    {#        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"  colspan="2" align="center">Du : {{date}}</td>#}
    {#      </tr>#}
</table>


{#<td width="51%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">#}
{#      <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Montant total:</span> {{MontantT}} FCFA</div>#}
{#   <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Montant perçu:</span> {{Advance}} FCFA</div>#}
{#   <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Reste a payer:</span> {{Left_to_pay}} FCFA</div>#}
{#   <div style="text-align:right"><span style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333;">Remboursement:</span> {{Repayment}} FCFA</div>#}
{##}
{#    </table></td>#}

</body>

</html>